@import "tailwindcss";

* {

}

@theme {
    --color-brand: #389663;
    --color-primary: #389663;
    --color-primary-light: #e0f1e6;
    --color-background-light: #f4faf6;
    --color-background-dark: #102117;
    --color-surface-light: #ffffff;
    --color-surface-dark: #183326;
    --color-border-light: #d7e7dd;
    --color-border-dark: #2d4a38;
}

body {
    font-family: Inter, sans-serif;
}
